[Unit]
Description=Keyscrew startup service

[Service]
Type=simple
User=YOUR_USER
Group=root
Environment=XAUTHORITY=/home/YOUR_USER/.Xauthority
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=sudo keyscrew -w -q -b 10
ExecReload=sudo keyscrew -k && sudo keyscrew -w -q -b 10
ExecStop=sudo keyscrew -k

[Install]
WantedBy=graphical.target
